{% extends 'base.html' %}
{% block title %}About Examsection{% endblock %}
{% block subtitle %}About Examsection{% endblock %}
{% block body %}
     <div class="row">
        <div class="col-12">
            <p>The responsibilities of the office are:</p>
            <ul>
                <li>Implementation of academic calendar which includes all the academic related activities.</li>
                <li>Conduction of Internal Examinations and Semester End Examinations</li>
                <li>Processing and announcement of results</li>
                <li>Processing certificates such as Grade Sheet, Consolidated Statements of Grade, Provisional Certificate and Transcripts.</li>
            </ul>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" >
                <h5 class="card-title bg-warning">Chief Superintendent</h5>
                <div class="card-body">
                    <h5 class="card-title">Dr.T.Surya Sekhar Reddy</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Department of MECH</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Principal</h6>
                    <p class="card-text">Email Id : principalsvitatp@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" >
                <h5 class="card-title bg-warning">Controller of Examinations</h5>
                <div class="card-body">
                    <h5 class="card-title">Dr.M.Vijaya Bhaskar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Department of CSE</h6>
                    <p class="card-text">Phone No: 9676832619</p>
                    <p class="card-text">E-Mail Id : examsection.9f@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" >
                <h5 class="card-title bg-warning">Additional Controller of Examinations – I</h5>
                <div class="card-body">
                    <h5 class="card-title">Mr.D.Raghava Raju</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Department of CSE</h6>
                    <p class="card-text">Phone No: 9441724340</p>
                    <p class="card-text">E-Mail Id : examsection.9f@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" >
                <h5 class="card-title bg-warning">Examination Clerk</h5>
                <div class="card-body">
                    <h5 class="card-title">Ms.S.Sahera Banu</h5>
                    <p class="card-text">E-Mail Id : examsection.9f@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded" >
                <h5 class="card-title bg-warning">Office Assistants</h5>
                <div class="card-body">
                    <h5 class="card-title">Mr.H.Subramanyam</h5>
                    <p class="card-text">Phone No : 9959460270</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mr.M.Sreenivasulu</h5>
                    <p class="card-text">Phone No : 7989325713</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}