{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>      
    {% block title %}{% endblock %}
    </title>
    <style>
        a:link {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <header class="bg-dark text-center text-light">
      <h2>SRI VENKAESWARA INSTITUTE OF TECHNOLOGY EXAMSECTION PORTAL</h2>
    </header>
    <div class="m-1">
      <div class="row">
        <div class="col-lg-3">
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand mb-0 h1" href="/admin">SVITEXAMS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Circulars</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/exam_time_tables">Exam Time Tables</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/notifications">Notifications</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/academic_calenders">
Academic Calenders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/syllabus">Syllabus</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/students_data">Students Data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/downloads">Downloads</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/staff">Staff</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/results">Results</a>
                  </li>
              </div>
            </div>
          </nav>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header h5">
              {% block subtitle %}{% endblock %}
            </div>
            <div class="card-body">
              {% block body %}
              {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>