{% extends 'base.html' %}
{% block title %}Exams Time Tables{% endblock %}
{% block subtitle %}Exams Time Tables{% endblock %}


{% block body %}
    <div class="row">
        {% for cat, url_list in time_tables.items %}
            <div class="col">
                <table class="table">
                    <th>{{cat.upper}}</th>                    
                    {% for doc_url in url_list %}
                            <tbody>
                                    <tr>
                                        <td>                        
                                            <a href="{{doc_url.doc_url}}">{{doc_url.title}}</a>
                                        </td>                
                                    <tr>
                            </tbody>
                    {% endfor %}
                </table>        
            </div>            
        {% endfor %}
    </div>
{% endblock %}