{% extends 'base.html' %}
{% block title %}SVIT STAFF{% endblock %}
{% block subtitle %}SVIT STAFF DETAILS{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name of the Faculty</th>
                            <th scope="col">Department</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Mail Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staffDetails %}
                            <tr>
                                {% if staff.profile %}
                                    <td><a href="{{staff.profile}}">{{staff.name}}</a></td>
                                {% else %}
                                    <td>{{staff.name}}</td>
                                {% endif %}

                                <td>{{staff.department}}</td>
                                <td>{{staff.mobile_no}}</td>
                                <td>{{staff.main_id}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}